# Core Flask packages
Flask==2.0.3
Werkzeug==2.0.3
Flask-Login==0.5.0
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3

# Database & migration
alembic>=1.7.7
SQLAlchemy>=1.4.0

# Azure
azure-common>=1.1.28
azure-nspkg>=3.0.2
azure-storage>=0.37.0
msal>=1.13.0

# Security / cryptography
cryptography>=3.4.8
cffi>=1.15.1
pyopenssl>=20.0.1

# Utilities
requests>=2.25.1
pip>=23.0.1
setuptools>=67.0.0
wheel>=0.38.4

# Other dependencies
idna>=3.3
itsdangerous>=2.0.1
Jinja2>=3.0.1
MarkupSafe>=2.0.1
python-dateutil>=2.8.2
PyJWT>=2.0.1
WTForms>=2.3.3
click>=8.0.3
cachelib>=0.12.5
